body {
    background-color:rgb(78, 0, 131);
    margin: 10%;
    padding: auto;

}

h1 {
    text-align: center;
    font-weight: bold;
    color: rgb(54, 206, 233);
}
div {
    text-align: center;
}

